@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.lara-h2 {
  font-size: 1.5em;
}

.lara-button {
  color: #fff;
}

.lara-button-div {
  transition: background-color ease-in-out 0.3s;
  text-align: center;
}

.lara-button-div:hover {
  cursor: pointer;
}

.lara-button-primary {
  background-color: #000;
}

.lara-button-primary:hover {
  background-color: rgb(125, 125, 125);
}

.lara-button-secondary {
  background-color: rgb(71, 71, 71);
}

.lara-button-secondary:hover {
  background-color: rgb(157, 157, 157);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
