@import './base.css';

#app {
  margin: 0 auto;
}

.lara-hidden-link {
  color: rgb(175, 175, 175);
}

.lara-card {
  border-radius: 0;
  border-color: gray;
  border-width: 1px;
}

.lara-chip {
  border-radius: 0;
}

.lara-textarea .v-field {
  border-radius: 0;
}
